<style type="text/css">
    .icon {
        margin-right: 20px;
        position: relative;
        display: inline;
        font-size: 35px;
    }

</style>

<a href="@Url.Action("GioHang","GioHang")" class="icon giohang" ><i class="fa fa-shopping-cart">
        </i> <span class="badge badge-pill badge-primary">@ViewBag.TongSoLuong</span></a>



